$ui-base-lighter-color: #929e9a;
$ui-base-color: #261b2b;
$ui-primary-color: #3A363B;
$ui-secondary-color:#914C3E;
$ui-highlight-color: #D37933;
$primary-text-color: #F8F7F5;
$darker-text-color: #707E79;

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
    color: #d6d8bd;
    font-weight:40;
}

@import 'application';
